# CS 533 Assignment 5 - Ben Whitehead

## Context

This assignment is designed to develop your ability to reason about classifier accuracy metrics in the context of their social impact.

You will do this by partially replicating the ProPublica analysis of fairness in the COMPAS pre-trial risk assessment tool, reflecting on the process, and replicating simulation studies of tradeoffs in the fairness of machine learning metrics.

**Note:** my data is being loaded from a data/ directory. If you do not have that setup in your notebook, you will need to either change the path the data set is loaded from or put your data in a data directory.


## Setup

I am going to start by getting the infectious disease data into a good working state. The data comes in multiple files, so we'll need to concatenate it, and turn it into both state and county level data.

## Part 1. Load Data

Download the Raw text files for the main ‘BBC’ data set from http://mlg.ucd.ie/datasets/bbc.html. This will be a Zip file that contains text files with data.

**note:** my data is located in the `./data` directory instead of the root of my project

In [24]:
import pandas as pd
import pandas_ml as pdml
import seaborn as sns
import numpy as np
import os
import matplotlib.pyplot as plt

import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

import addfips



ghg = pd.DataFrame()

for f in os.listdir('data/2018_data_summary_spreadsheets'):
    temp = pd.read_excel('data/2018_data_summary_spreadsheets/'+f, sheet_name=0)
    temp['Year'] = f.split('.')[0].split('_')[2]    
    ghg = pd.concat([temp, ghg])

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:25: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [40]:
fips_map = pd.read_excel('data/fips-codes.xls', sheet_name=0)

fips_map = fips_map[fips_map['Entity Description'] == 'city']

In [45]:
fips_map.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10888 entries, 0 to 41339
Data columns (total 7 columns):
State Abbreviation    10888 non-null object
State FIPS Code       10888 non-null int64
County FIPS Code      10888 non-null int64
FIPS Entity Code      10888 non-null object
ANSI Code             10888 non-null int64
GU Name               10888 non-null object
Entity Description    10888 non-null object
dtypes: int64(3), object(4)
memory usage: 680.5+ KB

In [47]:
def str_func(x):
    return str(x).zfill(5)

fips_map['FIPS Entity Code'] = fips_map['FIPS Entity Code'].apply(str_func)

In [48]:
ghg_mapped = ghg.join(fips_mma)

,State Abbreviation,State FIPS Code,County FIPS Code,FIPS Entity Code,ANSI Code,GU Name,Entity Description
0,AL,1,67,00124,2403054,Abbeville,city
1,AL,1,73,00460,2403063,Adamsville,city
2,AL,1,117,00820,2403069,Alabaster,city
3,AL,1,95,00988,2403074,Albertville,city
4,AL,1,123,01132,2403077,Alexander City,city
5,AL,1,107,01228,2403080,Aliceville,city
6,AL,1,39,01708,2403097,Andalusia,city
7,AL,1,15,01852,2403101,Anniston,city
8,AL,1,43,02116,2403104,Arab,city
9,AL,1,95,02116,2403104,Arab,city
10,AL,1,115,02908,2403122,Ashville,city
11,AL,1,83,02956,2403123,Athens,city
12,AL,1,53,03004,2403129,Atmore,city
13,AL,1,55,03028,2403130,Attalla,city
14,AL,1,81,03076,2403132,Auburn,city
15,AL,1,3,04660,2403825,Bay Minette,city
16,AL,1,97,04684,2403828,Bayou La Batre,city
17,AL,1,73,05980,2403864,Bessemer,city
18,AL,1,73,07000,2403868,Birmingham,city
19,AL,1,117,07000,2403868,Birmingham,city
20,AL,1,55,07912,2403886,Boaz,city
21,AL,1,95,07912,2403886,Boaz,city
22,AL,1,7,09136,2403918,Brent,city
23,AL,1,53,09208,2403921,Brewton,city
24,AL,1,71,09328,2403924,Bridgeport,city
25,AL,1,73,09400,2403925,Brighton,city
26,AL,1,109,10240,2403943,Brundidge,city
27,AL,1,21,11416,2403965,Calera,city
28,AL,1,117,11416,2403965,Calera,city
29,AL,1,131,11512,2403975,Camden,city
...,...,...,...,...,...,...,...
39511,WI,55,131,85350,1584399,West Bend,city
39512,WI,55,123,85475,1584402,Westby,city
39513,WI,55,135,86400,1584418,Weyauwega,city
39514,WI,55,121,86725,1584426,Whitehall,city
39515,WI,55,55,86925,1584432,Whitewater,city
39516,WI,55,127,86925,1584432,Whitewater,city
39517,WI,55,1,88150,1584462,Wisconsin Dells,city
39518,WI,55,21,88150,1584462,Wisconsin Dells,city
39519,WI,55,57,88150,1584462,Wisconsin Dells,city
39520,WI,55,111,88150,1584462,Wisconsin Dells,city
39521,WI,55,141,88200,1584463,Wisconsin Rapids,city
41321,WY,56,19,10685,2409934,Buffalo,city
41322,WY,56,25,13150,2409406,Casper,city
41323,WY,56,21,13900,2409445,Cheyenne,city
41324,WY,56,29,15760,2409499,Cody,city
41325,WY,56,9,21125,2410350,Douglas,city
41326,WY,56,41,25620,2410468,Evanston,city
41327,WY,56,5,31855,2410589,Gillette,city
41328,WY,56,37,33740,2410656,Green River,city
41329,WY,56,23,42005,2410176,Kemmerer,city
41330,WY,56,13,44760,2411622,Lander,city
41331,WY,56,1,45050,2411625,Laramie,city
41332,WY,56,45,56215,2411244,Newcastle,city
41333,WY,56,29,62450,2411481,Powell,city
41334,WY,56,7,63900,2411524,Rawlins,city
41335,WY,56,13,66220,2410968,Riverton,city
41336,WY,56,37,67235,2410976,Rock Springs,city
41337,WY,56,33,69845,2411887,Sheridan,city
41338,WY,56,15,77530,2412088,Torrington,city
41339,WY,56,43,84925,2412308,Worland,city

In [32]:
all_data.groupby(['Year','State', 'City'])['Total reported direct emissions'].agg('sum')

Year  State  City
2010  AK     ANCHORAGE            1.989695e+06
             Akutan               3.693258e+04
             Anchorage            8.823022e+05
             BARROW               4.268854e+04
             BIG LAKE             5.252580e+03
             CLEAR AIR STATION    8.999312e+04
             DUTCH HARBOR         2.805247e+04
             EAGLE RIVER          3.231570e+05
             EIELSON AFB          3.306647e+05
             FAIRBANKS            4.540996e+05
             FORT WAINWRIGHT      3.734709e+05
             Fairbanks            1.374978e+05
             HEALY                2.786180e+05
             KENAI                4.477359e+05
             KOTZEBUE             1.468131e+05
             Kenai                3.151448e+05
             Milne Point Unit     1.822157e+05
             NIKISKI              1.813932e+05
             NORTH POLE           5.647467e+05
             North Slope          1.242964e+06
             Offshore             7.724372e+04
             PRUDHOE BAY          2.107596e+05
             Prudhoe Bay          9.026728e+06
             SOLDOTNA             4.889490e+04
             VALDEZ               1.005986e+05
             Valdez               2.709597e+04
      AL     ADGER                2.515248e+04
             ALEXANDER CITY       9.305658e+05
             ANNISTON             6.520254e+04
             ATMORE               1.019008e+04
                                      ...
2018  WY     Evanston             1.784866e+05
             FRANNIE              1.990734e+05
             GILLETTE             6.206945e+06
             GLENROCK             5.336375e+06
             GRANGER              2.244225e+05
             GREEN RIVER          5.382191e+06
             Gillette             3.713400e+06
             Granger              4.049878e+05
             Green River          1.842195e+05
             KEMMERER             8.162873e+06
             LARAMIE              6.102256e+05
             LOVELL               1.412719e+05
             Laramie              1.260218e+05
             Lysite               2.723006e+05
             McFadden             3.429393e+04
             NEWCASTLE            1.817987e+05
             OPAL                 3.194932e+05
             Opal                 3.798596e+04
             POINT OF ROCKS       1.099407e+07
             POWELL               8.922184e+04
             RIVERTON             3.905571e+04
             ROCK SPRINGS         4.523067e+05
             Rock Springs         2.108601e+05
             SINCLAIR             1.165950e+06
             Sinclair             1.311216e+04
             Sweetwater County    2.363121e+04
             TORRINGTON           1.193939e+05
             WHEATLAND            1.184195e+07
             WORLAND              3.475471e+04
             Wamsutter            6.408063e+05
Name: Total reported direct emissions, Length: 41579, dtype: float64